<!DOCTYPE html>
<html ng-app="store">
<head>
  <title>Code Challenge - Bloombees</title>
  <link rel="stylesheet" type="text/css" href="resources/css/styles.css">
  <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
  <intercept-url pattern="/favicon.ico" access="ROLE_ANONYMOUS" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand" href="index.html">Manuel Figueroa</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://es.linkedin.com/in/manuelfigueroaandrade">Linkedin</a>
        </li>
        <li>
          <a href="https://github.com/mfigand">Gitgub</a>
        </li>
      </ul>
    </div>
   </div>
</nav>
<div class="row">
  <header class="jumbotron">
    <h1>Angular Example!</h1>
    <p>Here is a store were you can display your products, view different info clicking the tabs,
      hide the product if it's sold out or write and submit reviews for each product.</p>
  </header>

  <div class="mainContainer">

    <!-- <div class="row carousel-holder">

      <div class="col-md-12" data-ng-controller="StoreCtrl as store">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" ng-repeat="product in store.products">
            <div class="item active">
              <img class="slide-image img-responsive" ng-src="{{product.images[0].full}}" alt="">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>

    </div> -->

		<div class="row" data-ng-controller="StoreCtrl as store">
			<div class="col-xs-9 col-sm-6 col-md-4 col-lg-4" ng-repeat="product in store.products">

        <div ng-hide="product.soldOut" class="productContainer">
          <div>
            <product-title></product-title>
            <img ng-src="{{product.images[0].full}}" class="img-responsive"/>
          </div>
          <br>

          <product-panel></product-panel>

          <button ng-show="product.canPurchase">Buy</button>
        </div>

      </div>

      </div>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="col-lg-12 col-xs-offset-1">
        <p>Copyright &copy; Manuel Figueroa 2016</p>
      </div>
    </div>
  </footer>

</div>

  <script type="text/javascript" src="resources/js/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="resources/js/product.js"></script>
  <script src="resources/js/jquery-2.1.4.js"></script>
  <script src="resources/js/bootstrap.min.js"></script>
</body>
</html>
